<h1 class="text-center"> US Time Zone Display</h1>
<br>
<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4 text-center" id="box">
    <button (click)="click('btn1')" [ngClass]="{ 'on': on1 }">PST</button><button (click)="click('btn2')" [ngClass]="{ 'on': on2 }">MST</button><button (click)="click('btn3')" [ngClass]="{ 'on': on3 }">CST</button><button (click)="click('btn4')" [ngClass]="{ 'on': on4 }">EST</button><button (click)="click()">Clear</button>
  </div>
</div>
<h2 class="text-center" *ngIf='on'>{{ time }}</h2>
